.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-section {
    position: relative; 
    padding: 20px; 
  }
  .search-form {
    width: 600px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .search-input {
    font-size: 18px;
    flex-grow: 1;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #303030;
  }
  
  .search-btn {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #191970;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
  }
  
  .gallery-card {
    width: calc((100% - 60px) / 4);  
  }
  
  .gallery-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
  }

  
.loader {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid  solid dotted;
    border-color: #FF3D00 #FF3D00 transparent #FF3D00;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 100%;
    left: 50%; 
    transform: translate(-50%, 20px);
  }
  
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: #FF3D00;
    transform: rotate(-40deg);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  
  
  .loader.is-hidden{
    display: none; 
  }
  
  .search-btn,
  .load-more {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #191970;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
    transition: opacity 250ms linear;
    position: relative;
  }
  
  .load-more:hover,
  .load-more:focus {
    opacity: 0.8;
  } 
  
 .load-more.is-hidden {
    display: none ;
  }